@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    text-align: center;
    background-image: url('images/intro-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    font-family: 'Bungee', cursive;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container {
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 3em;
    color: #061b0e;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sub {
    font-size: 1.5em;
    color: #061b0e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;

}

#startbtn {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #062813;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    background-color: #28a745;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}



